body {
    padding: 0 !important;
    margin: 0;
}

.containerCST{
    padding: 0 10% !important;
}

.border-btn {
    background-color: transparent;
    border : 2px solid #47b2e3;
    color : white;
    height: 40px;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
}

@media (min-width : 1000px){
    .containerCST {
        padding: 0 20% !important
    };
}